/* From https://github.com/michal-h21/tex4ht-doc/blob/master/style.css */

/* ************** */
/* *** Fonts  *** */
/* ************** */

/* Font size tricks from https://www.madebymike.com.au/writing/precise-control-responsive-typography/
 * The font size will be adjusted to the screen size.
 * */
:root{
  font-size: 20px;
  font-family: 'Palatino';
  line-height: 2;
}

a{
  text-decoration: none;
  color: #0395DE;
}

main.main-content a:hover{
  transition: 0.3s;
  color:#045d89;
}

div.footer{
  margin-top: 2rem;
  text-align: center;
  color: #6c757d;
  font-size:16px;
}

/* ************** */
/* *** Layout *** */
/* ************** */

body{
  /* max-width:52rem; */
  margin:0;
  padding:0;
  /* display:grid; */
  /* grid-auto-rows: auto; */
  color-scheme: light;
}

main{
  position: relative
}

@media screen and (min-width: 50rem) {
  body{
    display: grid;
    grid-template-columns: 17rem 1fr;
    max-width: 65rem;
  }
  main.main-content, div.footnote-text, div.maketitle{
    grid-column: 2;
  }
  nav.TOC{
    grid-column: 1;
    grid-row:1;
    min-height:100vh;
  }
}

div.footnotes{
  margin-top: 1rem;
  margin-right: auto;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  font-size: 20px
}

/* hide the top crosslinks */
nav.crosslinks-top{
  display: none;
}

/* add vertical space above the bottom crosslinks */
nav.crosslinks-bottom{
  margin-top: 2rem;
  border-top: solid 3px #e9ecef;
  padding-top: 1rem;
  text-align: center;
}

nav.crosslinks-bottom a{
  margin-right: 10rem;
  font-weight: bold;
}

div.sectionTOCS {
  display: none;
}

/* ****************** */
/* *** Formatting *** */
/* ****************** */

main.main-content, div.maketitle{
  padding:1.5rem;
}

p.indent, p.noindent{text-indent:0}
/* code{font-size:1.4rem;} */
/* figure pre.listings{font-size: 1.4rem;} */
figure.texsource, figure.shellcommand, figure.htmlsource, figure.luasource, figure.textsource{
  margin:0.5rem 0;
  padding-left:0.5rem;
  overflow:auto;
}
figure pre.listings{font-size: 1em;}

.chapterToc, .sectionToc, .subsectionToc{margin:0;padding:0;}
nav.TOC{
  padding:1rem;
  /* font-size:0; trick to remove vertical space above TOC entries */
}

 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {padding-left:2em;margin-left:0}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {padding-left:4em;margin-left:0;}

nav.TOC span{
  display:block;
  margin-top:0;
  font-size:18px;
}

nav.TOC a, nav.TOC a:visited{
  text-decoration:none;
  width: 100%;
}

/* ************** */
/* *** Colors *** */
/* ************** */


body{background-color:#001d3d;}

main.main-content, div.maketitle{
  background-color:white;
}

nav.TOC,nav.TOC a, nav.TOC a:visited{
  background-color:#f8f9fa;
  color:#03071e;
  transition: 0.3s;
}

nav.toc span{
  transition: 0.3s;
}

nav.TOC span:hover, nav.TOC span:hover *{
  /* color:aqua; */
  background-color:#e9ecef;
  transition: 0.3s;
}

nav.TOC.mainToc a:hover{
  background-color:#f8f9fa;
  transition: 0.3s;
}

/* ***************** */
/* *** Dark mode *** */
/* ***************** */

/* Code from https://ar.al/2021/08/24/implementing-dark-mode-in-a-handful-of-lines-of-css-with-css-filters/ */

@media (prefers-color-scheme: dark) {
  /* Invert all elements on the body while attempting to not alter the hue substantially. */
  body {
    filter: invert(100%) hue-rotate(180deg);
  }

  /* Workarounds and optical adjustments. */

  /* Firefox workaround: Set the background colour for the html
     element separately because, unlike other browsers, Firefox
     doesn’t apply the filter to the root element’s background. */
  html {
    background-color: #111;
  }

  /* Do not invert media (revert the invert). */
  img:not(.header-icon), video, iframe {
    filter: invert(100%) hue-rotate(180deg);
  }

  /* Improve contrast on list item markers. */
  li::marker {
    color: #666;
  }
}

.header-link {
  position: absolute;
  display: inline-block;
}

.header-link:hover .header-icon {
  opacity: 0.6;
  transition: 0.3s;
}

.header-icon {
  display: block;
}
